{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

<div class="container">
  <h3>One Minute Pitch</h3>
  <ul>{{ macro.displayCategoryList(categories) }}</ul>
  <!-- Pickup lines -->
  <h2>{{ categories.name }}</h2>
  <p>A pick-up line is a conversation opener with the intent of engaging an unfamiliar person for romance or dating. <br>
    <i>Read more</i></p>
  <!-- Interview Pitch -->
  <!-- <h2>Interview Pitch</h2>
  <p>Knowing how to pitch your achievements and career goals at interviews, <br> assessment centres and careers fairs could be crucial in landing yourself a graduate job. <br> Read on to find out how to sell your skills with a quick introduction.<i>Read more</i></p> -->
  <!-- Product Pitch -->
  <!-- <h2>Product Pitch</h2>
  <p>The key to successfully pitching a new product idea or invention to a potential investor or company is being concise and clear.<i>Read more</i></p> -->
  <!-- Promotion Pitch -->
  <!-- <h2>Promotion Pitch</h2>
  <P>Pitching a promotion can be a daunting task if you’re not prepared. Cut out the stress with some strategies to refine your approach.<i>Read more</i></P> -->
</div> {% endblock %}
